html {
  height: 100%;
}

body {
  background-color:whitesmoke;
  color: darkslategrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main {
  text-align: center;
}