html {
  height: 100%;
}

body {
  background-color:whitesmoke;
  color: darkslategrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

button {
  background-color: orange;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
}

main {
  text-align: center;
}